@import "../style/theme";

.k-menu-item {
  list-style: none;
  padding: 0.5em 1em;
  &:hover {
    color: @font-active-color;
    background: @back-active-color;
  }
  & svg {
    vertical-align: bottom;
    position: relative;
    right: -100px;
    opacity: 0;
    color: @font-active-color;
    transition: all 0.2s;
  }
  &:hover svg {
    right: -0px;
    opacity: 1;
  }
}
