.k-button {
  height: 2em;
  width: auto;
  background: #fff;
  color: #000;
  padding: 0 1em;
  line-height:1em;
  border: 1px  solid #eee;
  box-sizing: content-box;
  vertical-align: bottom;
  &.small {
    width: 5em;
  }
  &.middle {
    width: 10em;
  }
  &.large {
    width: 15em;
  }
  &:hover,&:focus{
    color: #20A0FF;
    border-color: #20A0FF;
  }
  &:active{
    background: #b9e9ff;
  }
}